# vim
*.sw[a-z]
*.un~
Session.vim

# make file
.*
!.gitignore
*~
*.o
core
*.ko
*.mod.c
Module.symvers
modules.order
*.mod
*.a
# misc-progs
nbtest 
load50 
mapcmp 
polltest 
mapper 
setlevel 
setconsole 
inp 
outp
datasize
dataalign
netifdebug
asynctest
tags
# Allows for Eclipse CDT lookups without checking in linux source
linux_source_cdt
!.project
!.cproject
my-modules/netlink/src/netlink.ko
my-modules/netlink/app/user
my-modules/major-minor/src/major_minor.ko
my-modules/jitimer/jitimer.ko
